extends layout

block content
    .w3-card-4
        header.w3-container.w3-pale-yellow
            style.
                .pagination {
                display: inline-block;
                }
                .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                border: 1px solid #ddd;
                }
                .pagination a.active {
                background-color: LightGray;
                color: white;
                border: 1px solid LightGray;
                }
                .pagination a:hover:not(.active) {background-color: #ddd;}
            h3 Aluno 
             
                .w3-container
                    h5 
                      table(class="w3-table-all")
                        tr
                            td Número
                            td=dado.Número
                            td
                        tr
                            td Nome
                            td=dado.Nome
                            td
                        tr
                            td Git
                            td=dado.Git
                        
            footer
                p 
                    .pagination
                        a.active(href='/alunos') Home
                        a(href='/alunos/update/' + dado.Número ) Editar
                address Gerado por galuno :: 2020-novembro, jcr